*{
    margin: auto;
    font-family: Montserrat;
}

body{
   
}

/* HAUT DE PAGE */
nav{
    /* code à réutiliser  pour la nav accueil*/
    width: 100%;
    background-color: #057858;
    color: white;
    display: flex;
    gap: 20%; 
}

#logo-quatre-pattes{
     /* code à réutiliser  pour la nav accueil*/
    margin-right: 20%;
}

#donationButton{
     /* code à réutiliser  pour la nav accueil*/
    height: 40px;
    width: 150px;
    background-color: #DB2727;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

a{
   text-decoration: none; 
   color: white;
   font-weight: bold;
}

/* MAIN PAGE DE CONTACT FORMULAIRE */
h2{
    text-align: center;
    margin: 3%;
}

form{
    width: 70%;
    padding: 2%;
    border-radius: 5px;
    box-shadow:
    2.8px 2.8px 69.1px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 77.9px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 77.5px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 73.3px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 68.5px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    font-weight: bold;
}

#send{
    background-color: #08956A;
    color: white;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;

}


/* PIED DE PAGE */
footer{
    background-color: #202938;
    color: white;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


