*{
    margin: auto;
    font-family: Montserrat;
}

body{
   
}

.button-icons{
    height: 15px;
    width: 15px;
}

.shadow-box{
    box-shadow:
    4.5px 4.5px 29.5px rgba(0, 0, 0, 0.07),
    12.5px 12.5px 37.6px rgba(0, 0, 0, 0.046),
    30.1px 30.1px 47.3px rgba(0, 0, 0, 0.035),
    100px 100px 80px rgba(0, 0, 0, 0.024);
}

/* HAUT DE PAGE */
nav{
    width: 100%;
    background-color: #057858;
    color: white;
    display: flex;
    gap: 20%; 
}

#logo-quatre-pattes{
    margin-right: 20%;
}

#donationButton{
    height: 40px;
    width: 150px;
    background-color: #DB2727;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

a{
   text-decoration: none; 
   color: white;
   font-weight: bold;
}

/* MAIN DE LA PAGE D'ACCUEIL */

/* Section 1 : la bannière */
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), 
    url("images/Image_haut_de_page.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: xx-large;
    display: flex;
    text-align: center;
    flex-direction: column;
}

/* Section 2 : l'encart de don */
.donations-box{
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.amount-buttons button{
    margin: 25px;
    width: 250px;
    height: 120px;
    border-radius: 15px;
    border: solid 3px #E7E7E9;
    background-color: white;
}

.amount-buttons button:hover{
    border: solid 3px #12B97E;
}

.frequency-buttons button{
    margin: 20px;
    background-color: #F3F4F6;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.frequency-buttons button:hover{
    border: solid 3px #12B97E;
}

#donation-validation-button{
    height: 40px;
    width: 95%;
    margin: 20px;
    background-color: #DB2727;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    align-self: center;
}

#donation-validation-button:hover{
    border: solid 3px pink;
}

/* Section 3: l'encart de mission */

/* Section 4: l'encart histoires de réussites */
#success-stories{
    height: 800px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;

    border: solid 3px red;
}

/* CSS pour l'image principale du carroussel */
.main-picture{
    width: 80%;
    height: 500px;
    background-image:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,1)), 
    url("images/Luna.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    color: white;
    font-weight: medium;
    align-content: flex-end;
}

.success-stories-text{
    height: 45%;
    padding: 1%;
    margin: 2%;
}

#h2-success-stories{
    text-align: left;
}

/* CSS pour les miniatures du carroussel */
.carousel{
    display: flex;
}

.image-carousel{
    width: 300px;
    height: 150px;
    margin: 20px; 
    text-align: center;
    border-radius: 20px;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#img1{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), 
    url(images/Luna.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img1:hover{
    background-image: url(images/Luna.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px #12B97E;
}

#img2{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),  
    url(images/Oscar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img2:hover{
    background-image: url(images/Oscar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px #12B97E;
}

#img3{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), 
    url(images/Max.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img3:hover{
    background-image: url(images/Max.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px #12B97E;
}



/* MAIN PAGE DE CONTACT FORMULAIRE */
h2{
    text-align: center;
    margin: 3%;
}

form{
    width: 70%;
    padding: 2%;
    border-radius: 5px;
}

input{
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

select{
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

textarea{
    border: solid 1px #BDBDBD;
    border-radius: 5px;
}

.error{
    color: red;
    font-size: small;
    font-style: italic;
}

#send{
    background-color: #08956A;
    color: white;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;

}


/* PIED DE PAGE */
footer{
    background-color: #202938;
    color: white;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


