*{
    margin: auto;
    font-family: Montserrat;
}

body{
   
}

.button-icons{
    height: 15px;
    width: 15px;
}

.shadow-box{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* HAUT DE PAGE */
nav{
    width: 100%;
    background-color: #057858;
    color: white;
    gap: 20%; 
    display: flex;
}

#logo-quatre-pattes{
    margin-left: 1%;
}

.recherche{
    margin-right: 1%;
    margin-left: 3%;
    width: 50%;
    display: flex;
    align-items: center;
}

#donationButton{
    height: 40px;
    width: 50%; 
    background-color: #DB2727;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

a{
   text-decoration: none; 
   color: white;
   font-weight: bold;
}

/* MAIN DE LA PAGE D'ACCUEIL */

/* Section 1 : la bannière */
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), 
    url("images/Image_haut_de_page.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: xx-large;
    display: flex;
    text-align: center;
    flex-direction: column;
}

/* Section 2 : l'encart de don */
.donations-box{
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.amount-buttons button{
    margin: 25px;
    max-width: 250px;
    height: 120px;
    border-radius: 15px;
    border: solid 3px #E7E7E9;
    background-color: white;
}

.amount-buttons button:hover{
    border: solid 3px #12B97E;
}

.frequency-buttons button{
    margin: 20px;
    background-color: #F3F4F6;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.frequency-buttons button:hover{
    border: solid 3px #12B97E;
}

#donation-validation-button{
    height: 40px;
    width: 95%;
    margin: 20px;
    background-color: #DB2727;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    align-self: center;
}

#donation-validation-button:hover{
    border: solid 3px pink;
}

/* Section 3: l'encart de mission */
#mission{
    background-color: #EDFDF6;
    height: auto;
    padding: 1%;
}

.mission-frame{
    margin: 3%;
    background-color: white;
    border-radius: 15px;
    display: flex;
}

.mission-image{
    background-image: url(images/Image_notre_mission.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 350px;
    width: 100%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mission-text{
    height: auto;
    width: 95%;
    padding: 3%;
}

#titre-gauche{
    text-align: left;
}

/* Section 4: l'encart histoires de réussites */
#success-stories{
    height: 800px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

/* CSS pour l'image principale du carroussel */
.main-picture{
    width: 80vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,1)), 
    url("images/Luna.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    color: white;
    font-weight: medium;
    align-content: flex-end;
}

.success-stories-text{
    height: 45%;
    padding: 1%;
    margin: 2%;
}

#h2-success-stories{
    text-align: left;
}

/* CSS pour les miniatures du carroussel */
.carousel{
    display: flex;
}

.image-carousel{
    width: 300px;
    height: 150px;
    margin: 10px; 
    text-align: center;
    border-radius: 20px;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#img1{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), 
    url(images/Luna.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img1:hover{
    background-image: url(images/Luna.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px #12B97E;
}

#img2{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),  
    url(images/Oscar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img2:hover{
    background-image: url(images/Oscar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px #12B97E;
}

#img3{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), 
    url(images/Max.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img3:hover{
    background-image: url(images/Max.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 3px #12B97E;
}

/* Section 5 : Quizz et impact */

/* CSS de la partie quizz */
#quizz-et-impact{
    padding: 1%;
    height: auto;
    background-color: #EDFDF6;
}

.quizz-frames{
    margin: 3% 10%;
    padding: 2%;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.answers-box{
    display: flex;
    justify-items: center;
}

.quizz-answers{
    margin: 1%;
    padding: 2%;
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: #F3F4F6;
    font-weight: 500;
}

/* CSS de la partie Impact */

.impact-frames{
    margin: 2%;
    display: flex;
}

.center-content{
    width: 20%;
    justify-items: center;
    text-align: center;
}

/* Section 6: Témoignages */

#testimonies-block{
    margin: 3%;
    padding: 1%;
    display: flex;
}

.first-testimony-image{
    background-image: url(images/Image_temoignage_Lyon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
}

.second-testimony-image{
    background-image: url(images/Image_refuge_Marseille.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.third-testimony-image{
    background-image: url(images/Image_temoignage_Paris.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.testimonies-box{
    width: 30%;
    height: 350px;
    border-radius: 10px;
}

.testimonies-text{
    padding: 3%;
}

/* MAIN PAGE DE CONTACT FORMULAIRE */
h2{
    text-align: center;
    margin: 3%;
}

form{
    width: 70%;
    padding: 2%;
    border-radius: 5px;
}

input{
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

select{
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

textarea{
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    max-width: 100%;
}

.error{
    color: red;
    font-size: small;
    font-style: italic;
}

#send{
    background-color: #08956A;
    color: white;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;

}


/* PIED DE PAGE */
footer{
    background-color: #202938;
    color: white;
    margin-top: 10%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
}

.div-footer{
    width: 30%;
    height: 20%;
    padding: 3%;
    margin: 2%;
}

/* Responsive */
@media (max-width: 550px){

    /* Haut de page */
    nav{
        flex-direction: column;

    }

    .recherche{
        margin-left: 1%;
        width: 100%;
        flex-direction: column;
    }

    .header-writings{
        margin-left: 1%;
        padding: 3%;
    }

    #donationButton{
        width: 90%;
    }

    /* Page d'accueil */

    /* Section 2: l'encart de don */
    .amount-buttons{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .frequency-buttons button{
        width: 80px;

    }    

    /* Section 3: l'encart de mission*/
    .mission-frame{
        flex-direction: column;
    }
    .mission-image{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    /* Section 4: l'encart histoires de réussites */
    .main-picture{
        width: 90vw;
        height: 70vh;
        border-radius: 10px;
        margin: 3%;
    }
    .image-carousel{
        width: 30vw;
        height: 25vh;
        margin: 1%;
    }

    /* Section 5: Quizz et impact */
    .impact-frames{
        flex-direction: column;
    }

    .center-content{
        width: auto;
        margin: 20px;
    }





    /* Footer */
    footer{
        flex-direction: column;
        text-align: left; 
    }

    .div-footer{
        width: 100%;
    }
} 

